:root{

	--rgba : 0.5;
	
	--container_rgba : 1;

}
/*
*{

box-sizing :border-box;

}     */

#container_to_show{
	position:relative;  /* added self for z-index  */
/*  z-index:  1;       */
	color: rgba(255,0,0,var(--container_rgba))
}

#container_to_show p,a{

position:relative;

}

#NightBar{

/*   border : 1px solid black;  */
margin-bottom: 10px;

}


#over{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,var(--rgba)); /* Black background with opacity */
z-index: 2;  /*Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


#DarknessViewer{
position:relative;
z-index :3;

}

#night_mode_on, #slideHide{
	position:relative;   /* added self for z-index  */
z-index:  3;
display : none;     /* dont change*/
padding : 7px;

/*    border: 1px solid black;  */
bottom: 0;
left:0 ;
right:0 ;
top :0;
float: right;
margin-top: 0px;
border:none;
border-radius: 10px;

}

/*
#slideHide{
	display:none;
	z-index:3;
	
	}
	
*/