
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border:none;
border-radius : 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
border:none;
border-radius : 10px;


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


#container{

height:1000vh;
}

	
		
			
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  border-radius :  20%;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}